/* carousel start */

.home-carousel {
    width: 400px;
    height: 80vh;
}

.home-carousel .img-container {
    width: 100%;
    height: auto;
    position: relative;
    user-select: none;
}

.home-carousel .img-container .arrows-container {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.home-carousel .img-container .arrows-container .arrows {
    display: flex;
    align-items: center;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1rem;
    height: 100%;
}

.home-carousel .img-container .arrows-container .arrows:hover {
    background-color: rgba(0, 0, 0, 0.9);
}


/* carousel completed */